h2
    span#away-team-name.team
    span vs.
    span#home-team-name.team
div#graphs

    div#individual-scoring-away.large
        h4 Individual Scoring (Away)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#individual-scoring-home.large
        h4 Individual Scoring (Home)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#individual-rebounding-away.large
        h4 Individual Rebounding (Away)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#individual-rebounding-home.large
        h4 Individual Rebounding (Home)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#individual-assists-away.large
        h4 Individual Assists (Away)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#individual-assists-home.large
        h4 Individual Assists (Home)
        svg(width="100%", viewBox="0 0 100 100")
    
    div#score-deviation
        h4 Score Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
        
    div#field-goal-percent-deviation
        h4 Field Goal % Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
        
    div#3pt-percent-deviation
        h4 3-point % Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
    
    div#scoring-by-period
        h4 Scoring by Period
        svg(width="100%", viewBox="0 0 100 100")
        
    div#field-goals
        h4 Field Goals
        svg(width="100%", viewBox="0 0 100 100")
    
    div#3-pointers
        h4 3-point Field Goals
        svg(width="100%", viewBox="0 0 100 100")
        
    div#free-throws
        h4 Free Throws
        svg(width="100%", viewBox="0 0 100 100")