h2
    span#away-team-name.team
    span vs.
    span#home-team-name.team
div#graphs
    
    div#score-deviation
        h4 Score Deviation
        svg(width="100%", viewBox="0 0 100 100")
    
    div#scoring-by-quarter
        h4 Scoring by Quarter
        svg(width="100%", viewBox="0 0 100 100")
        
    div#field-goals
        h4 Field Goals
        svg(width="100%", viewBox="0 0 100 100")
        
    div#free-throws
        h4 Free Throws
        svg(width="100%", viewBox="0 0 100 100")