h2
    span#away-team-name.team
    span vs.
    span#home-team-name.team
div#graphs

    div#scoring-leaders-away
        h4 Scoring Leaders (Away)
        svg(width="100%", viewBox="0 0 100 100")
        
    div#scoring-leaders-home
        h4 Scoring Leaders (Home)
        svg(width="100%", viewBox="0 0 100 100")
    
    div#score-deviation
        h4 Score Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
        
    div#field-goal-percent-deviation
        h4 Field Goal % Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
        
    div#3pt-percent-deviation
        h4 3-point % Deviation
        svg.chart(width="100%", viewBox="0 0 100 100")
        svg.legend(width="100%", viewBox="0 0 100 20")
    
    div#scoring-by-quarter
        h4 Scoring by Quarter
        svg(width="100%", viewBox="0 0 100 100")
        
    div#field-goals
        h4 Field Goals
        svg(width="100%", viewBox="0 0 100 100")
    
    div#3-pointers
        h4 3-point Field Goals
        svg(width="100%", viewBox="0 0 100 100")
        
    div#free-throws
        h4 Free Throws
        svg(width="100%", viewBox="0 0 100 100")