div#game(data-ng-controller="GameController")
    header
        h2
            span(class="team {{ team_nicknames.away.replace(' ', '-') }}")
                span.team-name.full-name {{ away_full_name }}
                span.team-name.short-name {{ team_short_names.away }}
                span.score(data-ng-class="{winning: away_final_score > home_final_score}") {{ away_final_score }}
            span(class="team {{ team_nicknames.home.replace(' ', '-') }}")
                span.team-name.full-name {{ home_full_name }}
                span.team-name.short-name {{ team_short_names.home }}
                span.score(data-ng-class="{winning: home_final_score > away_final_score}") {{ home_final_score }}
        h3= game_date
    div#graphs(data-token="#{token}")
    
        div.large
            h4 Individual Scoring ({{ team_short_names.away }})
            svg#individual-scoring-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Scoring ({{ team_short_names.home }})
            svg#individual-scoring-home(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Scoring Per Minute ({{ team_short_names.away }})
            svg#scoring-efficiency-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Scoring Per Minute ({{ team_short_names.home }})
            svg#scoring-efficiency-home(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Rebounding ({{ team_short_names.away }})
            svg#individual-rebounding-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Rebounding ({{ team_short_names.home }})
            svg#individual-rebounding-home(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Rebounding Per Minute ({{ team_short_names.away }})
            svg#rebounding-efficiency-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Rebounding Per Minute ({{ team_short_names.home }})
            svg#rebounding-efficiency-home(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Assists ({{ team_short_names.away }})
            svg#individual-assists-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Assists ({{ team_short_names.home }})
            svg#individual-assists-home(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Steals ({{ team_short_names.away }})
            svg#individual-steals-away(width="100%", viewBox="0 0 100 100")
            
        div.large
            h4 Individual Steals ({{ team_short_names.home }})
            svg#individual-steals-home(width="100%", viewBox="0 0 100 100")
        
        div
            h4 Score Deviation
            svg#score-deviation.chart(width="100%", viewBox="0 0 100 100")
            svg.legend(width="100%", viewBox="0 0 100 20")
            
        div
            h4 Field Goal % Deviation
            svg#field-goal-percent-deviation.chart(width="100%", viewBox="0 0 100 100")
            svg.legend(width="100%", viewBox="0 0 100 20")
            
        div
            h4 3-point % Deviation
            svg#3pt-percent-deviation.chart(width="100%", viewBox="0 0 100 100")
            svg.legend(width="100%", viewBox="0 0 100 20")
        
        div
            h4 Scoring by Period
            svg#scoring-by-period(width="100%", viewBox="0 0 100 100")
            
        div
            h4 Field Goals
            svg#field-goals(width="100%", viewBox="0 0 100 100")
        
        div
            h4 3-point Field Goals
            svg#3-pointers(width="100%", viewBox="0 0 100 100")
            
        div
            h4 Free Throws
            svg#free-throws(width="100%", viewBox="0 0 100 100")
