doctype html
html
  head
    title Fullcourt Report #{title}
    meta(name="viewport", content="width=device-width")
    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(rel='stylesheet', href='/css/compiled/fullcourt.css')
    script(src="/js/libraries/angular.min.js")
    script(src="/js/libraries/angular-touch.js")
    script(src="/js/compiled/fullcourt.js")
  body(data-ng-app="FullCourtReport")
    div#wrapper
      div#topbar
        h1 Fullcourt Report
      main!= body
      footer
        p Built by 
          #[a(href="http://greg.codes") Greg Weston] with the #[a(href="https://erikberg.com/api") XMLStats API]
