doctype html
html
  head
    title SuperScore
    link(rel='stylesheet', href='/css/compiled/app.css')
  body
    main!= body
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/js/compiled/app.js")