.ct-label {
	&.ct-vertical {
		color: #777;
	}
	&.ct-horizontal {
		color: #555;
	}
}
.ct-grids line {
	stroke: rgba(0, 0, 0, .3);
}
.ct-chart-donut {
	display: block;
	margin: 0 auto;
	.ct-label {
		font-size: .7rem;
		fill: #555;
	}
}
.ct-bar {
	stroke-width: 20px;
}
.element-value-popup {
	position: absolute;
	padding: .5rem;
	background-color: rgba(0, 0, 0, .75);
	font-size: .8rem;
	color: #FDFDFD;
	transform: translate(10%, 10%);
}
.missed-baskets, .opponent-average-points-allowed {
	stroke: #999;
}
