.ct-label {
	&.ct-vertical {
		color: #777;
	}
	&.ct-horizontal {
		color: #555;
	}
}
.ct-grids line {
	stroke: rgba(0, 0, 0, .3);
}
.ct-chart-pie {
	display: block;
	margin: 1rem auto;
}
.pie-chart-label {
	font-size: .6rem;
	fill: #555;
}
.ct-bar {
	stroke-width: 20px;
}
.element-value-popup {
	position: absolute;
	padding: .5rem;
	background-color: rgba(0, 0, 0, .75);
	font-size: .8rem;
	color: #FDFDFD;
	transform: translate(10%, 10%);
}
.missed-baskets, .opponent-average-points-allowed {
	stroke: #999;
}
