$teamcolors: (
	ATL: (primary: #E13A3E, secondary: #c4d600),
	BOS: (primary: #009E60, secondary: #EFE196),
	BKN: (primary: #000000, secondary: #FFFFFF),
	CHA: (primary: #1D1160, secondary: #008ca8),
	CHI: (primary: #D4001F, secondary: #000000),
	CLE: (primary: #860038, secondary: #fdbb30),
	DAL: (primary: #0b60ad, secondary: #072156),
	DEN: (primary: #4b90cd, secondary: #fdb827),
	DET: (primary: #00519a, secondary: #EB003C),
	GS: (primary: #04529c, secondary: #FFCC33),
	HOU: (primary: #CE1138, secondary: #CCCCCC),
	IND: (primary: #092c57, secondary: #ffc322),
	LAC: (primary: #ed174c, secondary: #006bb6),
	LAL: (primary: #4A2583, secondary: #F5AF1B),
	MEM: (primary: #0f586c, secondary: #7399C6),
	MIA: (primary: #B62630, secondary: #000000),
	MIL: (primary: #00471B, secondary: #F0EBD2),
	MIN: (primary: #002B5C, secondary: #7AC143),
	NO: (primary: #002b5c, secondary: #b4975a),
	NY: (primary: #0953a0, secondary: #FF7518),
	OKC: (primary: #007DC3, secondary: #F05133),
	ORL: (primary: #007DC5, secondary: #C4CED3),
	PHI: (primary: #0046AD, secondary: #D0103A),
	PHO: (primary: #1c105e, secondary: #e65f20),
	POR: (primary: #F0163A, secondary: #B6BFBF),
	SAC: (primary: #753BBD, secondary: #000000),
	SA: (primary: #000000, secondary: #BEC8C9),
	TOR: (primary: #ce1141, secondary: #061922),
	UTA: (primary: #002b5c, secondary: #f9a01b),
	WAS: (primary: #C60C30, secondary: #002244)
);

@mixin apply-team-color($color) {
	color: $color;
	fill: $color;
	stroke: $color;
	* {
		color: inherit;
		fill: inherit;
		stroke: inherit;
	}
}

@each $team, $colors in $teamcolors {
	$primary: map-get($colors, primary);
	$secondary: map-get($colors, secondary);
	.team.#{$team} {
		@include apply-team-color($primary);
	}
	.secondary-team-color-#{$team} .team.#{$team} {
		@include apply-team-color($secondary);
	}
	.game-link:hover .team.#{$team} {
		background-color: $secondary;
	}
}
