@import "teamcolors";

$large-width: 1600px;
$medium-large-width: 1440px;
$medium-width: 1280px;
$medium-small-width: 1024px;
$small-width: 780px;

@each $team, $colors in $teamcolors {
	$primary: map-get($colors, primary);
	$secondary: map-get($colors, secondary);
	$tertiary: map-get($colors, tertiary);
	.team.#{$team} {
		background-color: $primary;
		color: $secondary;
	}
}

@mixin max-breakpoint($size) {
	@if $size == large {
		@media (max-width: $large-width) {
			@content;
		}
	}
	@if $size == medium {
		@media (max-width: $medium-width) {
			@content;
		}
	}
	@if $size == small {
		@media (max-width: $small-width) {
			@content;
		}
	}
}

@mixin min-breakpoint($size) {
	@if $size == large {
		@media (min-width: $large-width + 1px) {
			@content;
		}
	}
	@if $size == medium {
		@media (min-width: $medium-width + 1px) {
			@content;
		}
	}
	@if $size == small {
		@media (min-width: $small-width + 1px) {
			@content;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: "Oswald", sans-serif;
}

a {
	text-decoration: none;
}

ul.game-list {
	display: flex;
	flex-wrap: wrap;
	li {
		margin: 1.5rem;
	}
}
a.game-link {
	span {
		padding: .25rem .5rem;
		display: block;
		text-align: center;
	}
}
