@import "../../node_modules/chartist/dist/scss/chartist.scss";
@import "teamcolors";
@import "spinner";
@import "setup";
@import "charts";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	box-sizing: border-box;
}
.hidden {
	display: none !important;
}
ul {
	list-style-type: none;
}
body {
	font-family: "Oswald", sans-serif;
}
a {
	text-decoration: none;
}
header {
	text-align: center;
	margin: 1rem 0;
	color: #555;
	a {
		color: inherit;
	}
}

ul.game-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70vw;
	margin: 0 auto;
	@include max-breakpoint(small) {
		width: 100vw;
	}
	li {
		margin: 1.5rem;
		a.game-link {
			span {
				padding: .25rem .5rem;
				display: block;
				text-align: center;
				transition: background-color .25s;
			}
		}
	}
}
ul.date-select {
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		margin: 1rem 2rem;
		a {
			color: #555;
		}
		&.date-current a {
			color: #222;
			border-bottom: 2px solid;
		}
		@include max-breakpoint(small) {
			&:not([class^="date-"]) {
				display: none;
			}
		}
	}
}

.game-info {
	margin: 0 auto;
	width: 90vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: 1.5rem;
	h2, h3, h4 {
		text-align: center;
	}
	h2 {
		font-size: 1.3rem;
		display: flex;
		justify-content: center;
		align-items: baseline;
		.team {
			flex: 1;
			&:first-child {
				text-align: right;
				margin-right: .75rem;
			}
			&:last-child {
				text-align: left;
				margin-left: .75rem;
			}
		}
		.total-points {
			display: block;
			&.winner {
				text-decoration: underline;
			}
		}
		@include max-breakpoint(small) {
			flex-direction: column;
			align-items: center;
			.team:first-child, .team:last-child {
				width: 100%;
				text-align: left;
				margin: 0;
			}
			.at {
				display: none;
			}
			.total-points {
				display: inline-block;
				margin-left: 1.5rem;
				float: right;
			}
		}
	}
	h3 {
		font-size: 1.1rem;
		margin-bottom: 1rem;
		color: #333;
	}
	h4 {
		margin: 1rem 0;
	}
	&>* {
		align-self: center;
	}
	.stat-leaders {
		margin: -2rem auto 0;
	}
	&>.grid-width-full {
		grid-column: auto / span 12;
	}
	&>.grid-width-two-thirds {
		grid-column: auto / span 8;
		@include max-breakpoint(medium) {
			grid-column: auto / span 12;
		}
	}
	&>.grid-width-half {
		grid-column: auto / span 6;
	}
	&>.grid-width-third {
		grid-column: auto / span 4;
		@include max-breakpoint(medium) {
			grid-column: auto / span 6;
		}
	}
	&>.grid-width-quarter {
		grid-column: auto / span 3;
	}
	@include max-breakpoint(small) {
		&>[class^="grid-width-"] {
			grid-column: auto / span 12;
		}
	}
}
